.percent {
  float: right;
	margin-top: -25px;
	margin-right: -15px;
}
.label-width-select {
	.el-form-item__label {
		width: 117px;
	}
	.is-required .el-select {
		width: calc(100% - 117px);
	}
}
.label-width {
	.el-form-item__label {
		width: 117px;
	}
	.is-required .el-input {
		width: calc(100% - 117px);
	}
}