.receipt .el-date-editor.el-input,
.receipt .el-date-editor.el-input__inner {
  width: 166px !important;
}
.receipt{
  padding:20px 20px 0;
  .el-row {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.el-button-group .el-button:not(:last-child){
  margin:0 10px;
}
.el-footer {
  height:30px!important;
  line-height:30px;
  background: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 5;
  padding: 0;
}

  
