ul{

  li{

    list-style:none;
  }
}
.change-box{
  ul{
    clear: both;
    li{
      float: left;
      margin-left: 10px;
    }
  }

}
.change-box, .adjustment-box{
  height: 100%;
  //overflow-y: auto;
}
.adjustment-box{
  .dragg-div{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*clear: both;*/
    cursor: move;
    .can-drap{
    }
  }
  .dragg-div:hover{
    background: rgb(247,247,247);
  }
}
.can-drap{
  height: 16px;
  width: 10px;
  line-height: 60px;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  cursor: move;
  vertical-align: -4px;
}
.tableConfigDialog{
  .el-dialog__body{
    padding: 10px 20px !important;
  }
}
.system-head{
  background-color: #F9F9F9;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 10px 0 10px 5px;
}
.dragg-div{
  height: 26px;
}
.el-table th>.cell{
  height: 30px;
}
.el-table th div{
  line-height: 30px;
  width: unset !important;
  padding-right: 0px;
}
table tbody tr{
  height: 26px;
  line-height: 26px;
}
.el-table .caret-wrapper {
  margin-top: -20px;
}
.el-pagination{
  margin-top: 0px !important;
}